@import "bootstrap";

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap');

body {
  
  font-family: 'Amatic SC', cursive;
}

.incolor {
  font-family: 'Roboto Mono', monospace;
  color: red;
}

.reviews {
  margin-bottom: 15px;
}

.new-box {
  -moz-box-shadow: 2px 2px 3px 0 #d0d0d0;
  -webkit-box-shadow: 2px 2px 3px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #D3D3D3;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
  font-size: 1.2em;
  overflow: hidden;
  width: 600px;
  max-width: 80%;
  }